extends layout

block content
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                a(href='/') Home
            li.breadcrumb-item
                a(href='/about') About
    br
    h1 About page
    br
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque veritatis atque vitae iste alias quo ad magnam, ratione earum, in architecto voluptatibus quos beatae nemo sit velit soluta. Quis, quae!