extends layout

block content
    h1 admin page
    ul
        li upload files
        li delete files
        li make files public
        li edit data
    h3 Add documents
    form(method='POST', action='/admin/add', enctype='multipart/form-data')
        #form-group
            label Document type: 
            select(name='document_type', required)
                option.form-control(value='')
                option.form-control(value='Lõputöö') Lõputöö
                option.form-control(value='Seminaritöö') Seminaritöö
                option.form-control(value='Praktika aruanne') Praktika aruanne
                option.form-control(value='Muu') Muu
        #form-group
            label Document title:
            input.form-control(name='title', type='text', required)
        #form-group
            label Author:
            input.form-control(name='author', type='text', required)
        #form-group
            label Created at:
            input.form-control(name='created_at', type='date')
        #form-group
            label Description:
            textarea.form-control(name='description')
        #form-group
            //- TODO fix adding tags
            label Tags:
            br
            input#defaultCheck1.form-check-input(type='checkbox', value='Lõputöö')
            label.form-check-label(for='defaultCheck1') Lõputöö
            br
            input#defaultCheck2.form-check-input(type='checkbox', value='Metall')
            label.form-check-label(for='defaultCheck2') Metall
            br
        #form-group
            input(type='file', name='fileupload')
            input.btn.btn-primary(type='submit', value='Submit')

        //- TODO superadmins/admin ACL's