extends layout

block content
    nav(aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/') Home
                li.breadcrumb-item
                    a(href='/admin') Admin page
    h1 Admin page
    br 
    != messages('message', locals)
    //- toggle adding documents
    button.btn.btn-primary(type='button' data-toggle='collapse' data-target='#collapse1' aria-expanded='false' aria-controls='collapse1')
        | Add documents
    p
    #collapse1.collapse
        form(method='POST', action='/admin/addDocument', enctype='multipart/form-data')
            #form-group
                label Document type:&nbsp;
                select(name='document_type', required)
                    option.form-control(value='')
                    option.form-control(value='Lõputöö') Lõputöö
                    option.form-control(value='Seminaritöö') Seminaritöö
                    option.form-control(value='Praktika aruanne') Praktika aruanne
                    option.form-control(value='Muu') Muu
            #form-group
                label Document title:
                input.form-control(name='title', type='text', required)
            #form-group
                label Author:
                input.form-control(name='author', type='text', required)
            #form-group
                label Created at:
                input.form-control(name='created_at', type='date')
            #form-group
                label Description:
                textarea.form-control(name='description')
            #form-group
                label Tags:
                br
                select(name='tag' multiple)
                    option.form-control(value='')
                    option.form-control(value='Metall') Metall
                    option.form-control(value='Puit') Puit
                    option.form-control(value='Tekstiil') Tekstiil
                    option.form-control(value='Muu') Muu
                br
            #form-group.form-check
                label.form-check-label(for='defaultCheck3') Publish&nbsp;
                input#defaultCheck3.form-control-input(name='status' type='checkbox' value='true')
            #form-group
                input(type='file', name='fileupload' multiple accept='image/*')
            br
            input.btn.btn-success(type='submit', value='Submit')
            input.btn.btn-warning(type='reset', value='Reset')
            a.button.btn.btn-danger(href='/admin/', value='Cancel') Cancel
            br
            hr
    //- toggle adding news
    button.btn.btn-primary(type='button' data-toggle='collapse' data-target='#collapse2' aria-expanded='false' aria-controls='collapse2')
        | Add news
    p
    #collapse2.collapse
        form(method='POST', action='/admin/addNews')
            #form-group
                label News title:
                input.form-control(name='title', type='text', required)
            #form-group
                label Date:
                input.form-control(name='date', type='date')
            #form-group
                label Description:
                textarea.form-control(name='description')
                br
            input.btn.btn-success(type='submit', value='Submit')
            input.btn.btn-warning(type='reset', value='Reset')
            a.button.btn.btn-danger(href='/admin/', value='Cancel') Cancel
            br
            hr
    //- toggle adding services
    button.btn.btn-primary(type='button' data-toggle='collapse' data-target='#collapse3' aria-expanded='false' aria-controls='collapse3')
        | Add services
    p
    #collapse3.collapse
        form(method='POST', action='/admin/addService')
            #form-group
                label Service title:
                input.form-control(name='title', type='text', required)
            #form-group
                label Description:
                textarea.form-control(name='description')
                br
            input.btn.btn-success(type='submit', value='Submit')
            input.btn.btn-warning(type='reset', value='Reset')
            a.button.btn.btn-danger(href='/admin/', value='Cancel') Cancel
            br
            hr
    //- toggle adding users
    button.btn.btn-primary(type='button' data-toggle='collapse' data-target='#collapse4' aria-expanded='false' aria-controls='collapse4')
        | Add users/students
    p
    #collapse4.collapse
        form(method='POST', action='/admin/addUser')
            #form-group
                label User role:&nbsp;
                select(name='role', required)
                    option.form-control(value='basic') User
                    option.form-control(value='admin') Admin
            #form-group
                label Firstname:
                input.form-control(name='firstname', type='text', required)
            #form-group
                label Lastname:
                input.form-control(name='lastname', type='text', required)
            #form-group
                label Username:
                input.form-control(name='username', type='text')
            #form-group
                label Email:
                input.form-control(name='email', type='text')
            #form-group
                label Personal portfolio link:
                input.form-control(name='personalPortfolio')
            #form-group
                label Password:
                input.form-control#password(name='password', type='password')
            label(for='show_password')
                input#show_password(type='checkbox' name='show_password')
                | &#x9;Show password
            script.
                // Listen for click events
                document.addEventListener('click', function (event) {
                    // If the clicked element isn't our show password checkbox, bail
                    if (event.target.id !== 'show_password') return;
                    // Get the password field
                    var password = document.querySelector('#password');
                    if (!password) return;
                    // Check if the password should be shown or hidden
                    if (event.target.checked) {
                    // Show the password
                        password.type = 'text';
                    } else {
                    // Hide the password
                        password.type = 'password';
                    }
                }, false);
            #form-group
                label Confirm password:
                input.form-control(name='confirm', type='password')
            br
            input.btn.btn-success(type='submit', value='Submit')
            input.btn.btn-warning(type='reset', value='Reset')
            a.button.btn.btn-danger(href='/admin/', value='Cancel') Cancel
            br
            hr
        //- view unpublished docs 
    a.button.btn.btn-primary(href='/admin/unpublished') Unpublished docs

        //- TODO superadmins/admin ACL's