extends layout

block content
    nav(aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/') Home
                li.breadcrumb-item
                    a(href='/contacts') Contacts
    h1 Contacts page
    br
    .row
        .col-6
            p Tallinn University Haapsalu College
            p Lihula mnt 12
            p 90507 Haapsalu
            p Estonia
            br
            p Phone: (+372) 472 0240
            p E-mail: kolledz@hk.tlu.ee
        .row
        .col-6
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2058.7606400192444!2d23.539483016457616!3d58.93543898152277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46f2a776ef37589d%3A0x8adb6075f9469fe1!2sTallinn%20University%20Haapsalu%20College!5e0!3m2!1sen!2see!4v1574638239811!5m2!1sen!2see' width='450' height='350' frameborder='0' style='border:0;' allowfullscreen='')