extends layout

block content
    br
    form(method='POST', action='/news/edit/' + singleNew._id)
        #form-group
            label News title:
            input.form-control(name='title', type='text', value=singleNew.title, required)
        #form-group
            label Date:
            input.form-control(name='date', type='date', value=singleNew.date)
        #form-group
            label Description:
            textarea.form-control(name='description', type='text', value=singleNew.description)
            br
        #form-group
            input.btn.btn-primary(type='submit', value='Submit')