extends layout

block content
    form(method='POST')
        legend Forgot password
        .form-group
            label(for='email') Insert email:
            input.form-control(type='text', name='email', autofocus)
        button.btn.btn-primary(type='submit') Reset password