extends layout

block content
    h1.jumbotron-heading Album example
        p.lead.text-muted| Something short and leading about the collection below&mdash;its contents, the creator, etc. Make it short and sweet, but not too short so folks don&rsquo;t simply skip over it entirely.
        a.btn.btn-primary.my-2(href='#') Main call to action
        a.btn.btn-secondary.my-2(href='#') Secondary action
    br
    .row
        each document, i in documents
            .col-md-4 
                .card.mb-4.shadow-sm
                svg.bd-placeholder-img.card-img-top(width='100%' height='225' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: Thumbnail')
                    title Placeholder
                    rect(width='100%' height='100%' fill='#55595c')
                    text(x='50%' y='50%' fill='#eceeef' dy='.3em') Thumbnail
                .card-body
                    a(href='/document/' + document._id)=document.title
                    //- p.card-text=document.title
                    .d-flex.justify-content-between.align-items-center
                    .btn-group
                        button.btn.btn-sm.btn-outline-secondary(type='button') View
                        //- edit visible if logged in
                        button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                    