doctype html
html
    head
    title KTD portfolio
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
        a.navbar-brand(href='/') KTD Portfolio
        #navbarsExampleDefault.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
            nav.my-2.my-lg-0
                a.navbar-brand(href='#') About    
                a.navbar-brand(href='/') Contact 
                
    .container
        block content
        br
        hr
        footer
            p Copyright &copy; 2019
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')