doctype html
html
    head
    title KTD portfolio
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/test.css')
body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
        a.navbar-brand(href='/') KTD Portfolio
        #navbarsExampleDefault.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
            nav.my-2.my-lg-0
                a.navbar-brand(href='/news') News
                a.navbar-brand(href='/loputood') Lõputööd
                if user
                    a.navbar-brand(href='/admin') Admin page
                a.navbar-brand(href='#') About
                a.navbar-brand(href='/') Contact
                if user
                    a.navbar-brand(href='/logout') Logout
                    //- TODO fix registration for superadmin only
                    //- if user.username='admin'
                    //-     a.navbar-brand(href='/register') Register
            //- TODO search      
            form.form-inline.my-2.my-lg-0(action='/search', method='GET')
                input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
                button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
    .container
        != messages('message', locals)
        //- TODO display validation errors
        //- if errors
        //-     each error, i in errors
        //-         div(class='alert alert-danger') #{error.msg}
        block content
        br
        hr
        footer
            p Copyright &copy; 2019
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/main.js')