extends layout

block content
    h1 Login
    != messages('message', locals)
    form(method='POST', action='/login')
        #form-group
            label Username:
            input.form-control(name='username', type='text')
        #form-group
            label Password:
            input.form-control(name='password', type='password')
        br
        input.btn.btn-primary(type='submit', value='Submit')
        a.btn.btn-link(href='/forgot') Forgot password?