extends layout

block content
    nav(aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/') Home
                li.breadcrumb-item
                    a(href='/news') News
    h1 News page
    br
    .row
    each singleNew, i in news
        //-.card.card-body
        .col-md-4
            h4.title=singleNew.title
            p.description=singleNew.description
            p.date=singleNew.date
        if user
            a.btn.btn-primary(href='/news/edit/'+ singleNew._id) Edit
            a.btn.btn-danger.delete-news(href='#', data-id=singleNew._id) Delete
        hr
        br