extends layout

block content
    nav(aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/') Home
                li.breadcrumb-item
                    a(href='/portfolio') Portfolio
    h1 Portfolio page
    br
    .text-center
        .btn-group(role='group')
            a.btn.btn-sm.btn-outline-secondary(href='/loputood') Lõputööd
            a.btn.btn-sm.btn-outline-secondary(href='/seminaritood') Seminaritööd
            a.btn.btn-sm.btn-outline-secondary(href='/praktikad') Praktikad
    .text-center
        .btn-group(role='group')        
            a.btn.btn-sm.btn-outline-secondary(href='/metall') Metall
            a.btn.btn-sm.btn-outline-secondary(href='/puit') Puit
            a.btn.btn-sm.btn-outline-secondary(href='/tekstiil') Tekstiil
    br
    #documents
        br
        .row
            each document, i in documents
                .col-md-4
                    .list-group.list
                        .list-group-item
                            img(src=document.path width='100%' height='200')
                            //- TODO open view from thumbnail
                            p.list-group-item-text.title=document.title
                            p.list-group-item-text.author=document.author
                            .card
                                a.btn.btn-sm.btn-outline-secondary(href='/portfolio/document/' + document._id) View
    br
    br
    nav(aria-label='Page navigation example')
        ul.pagination.justify-content-center
            li.page-item.disabled
                a.page-link(href='#' tabindex='-1') Previous
            li.page-item
                a.page-link(href='/portfolio/1') 1
            li.page-item
                a.page-link(href='/portfolio/2') 2
            li.page-item
                a.page-link(href='/portfolio/3') 3
            li.page-item
                a.page-link(href='#') Next