extends layout

block content
    h1 Register
    form(method='POST', action='/register')
        #form-group
            label Username:
            input.form-control(name='username', type='text')
        #form-group
            label Email:
            input.form-control(name='email', type='text')
        #form-group
            label Password:
            input.form-control#password(name='password', type='password')
        #form-group
            label Confirm password:
            input.form-control#confirm(name='confirm', type='password')
        label(for='show_password')
            input#show_password(type='checkbox' name='show_password')
            | &#x9;Show password
        script.
            // Listen for click events
            document.addEventListener('click', function (event) {
                // If the clicked element isn't our show password checkbox, bail
                if (event.target.id !== 'show_password') return;
                // Get the password field
                var password = document.querySelector('#password');
                if (!password) return;
                // Check if the password should be shown or hidden
                if (event.target.checked) {
                // Show the password
                    password.type = 'text';
                } else {
                // Hide the password
                    password.type = 'password';
                }
            }, false);

        br
        input.btn.btn-primary(type='submit', value='Submit')
