extends layout

block content
    h1 Students page
    each student, s in students
        ul
        li
            p.student=student.firstname + student.lastname
            p Personal portfolio
                a()
            hr
            //- TODO explode array with multiple names
            //- if (typeof(document.author) == array)
            //-     p array
        