extends layout

block content
    nav(aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/') Home
                li.breadcrumb-item
                    a(href='/students') Students
    h1 Students page
    br
    //- TODO sort by year
    #users
        each user, i in users
            p Name: #{user.firstname + ' ' + user.lastname}
            p Personal portfolio:&nbsp;
                a(href='https://' + user.personalPortfolio)|#{user.personalPortfolio}
            p Course: #{user.course}
            if user
                a.btn.btn-primary(href='/profile/edit/'+ user._id) Edit
                a.btn.btn-danger.delete-users(href='#', data-id=user._id) Delete
            hr
            