extends layout

block content
    h1 Students page
    #users
        each user, i in users
            p Username: #{user.username}
            a(href='https://' + user.personalPortfolio) Personal portfolio
            hr
                //- TODO explode array with multiple names
                //- if (typeof(document.author) == array)
                //-     p array        